.exerciseTypes > button {
  background-color: transparent;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: #a3a3a3;
  outline: none;
}

.exerciseTypes > button > span {
  margin-top: 5px;
}

.exerciseTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.exerciseTypes > button:hover {
  cursor: pointer;
  color: blue;
}

.exercises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
