.rememberText {
  display: block;
  font-size: 13px;
  text-align: left;
}

.rememberText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-forgot {
  width: 500px;
  margin-left: 600px;
}
